[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap-v5 = "*"
django-debug-toolbar = "*"
requests = "*"
sodapy = "*"
django-tables2 = "*"
pygal = "*"
django-unicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.12"
