{% extends "base.html" %}
{% load static i18n %}

{% load unicorn %}

{% block extra_head %}
{% unicorn_scripts %}
{% endblock %}

{% block content %}
<div class="evidence">

    <div class="evidence-title">

        <h1>Add Visual Evidence</h1>
    </div>
    <p class="infotext">Drag to your location</p>
    <p class="infotext">Match any of these crimes?</p>
    {% include "snippets/locatorMap.html" %}
    <div class="evidence-table">
        {% csrf_token %}

        {% unicorn 'unicorn-table' %}


    </div>
    <div class="evidence-form">
        {% unicorn 'unicorn-form' %}


    </div>

    {% endblock content %}