{% extends "base.html" %}
{% load static i18n %}
{% load render_table from django_tables2 %}

{% block content %}
<div class="bucket">
    <!-- THIS header is not playing nice in the grid!!!! -->
    <h3 class="dash-title">Crime Dashboard as of {{most_recent}}</h3>
    <p class="infotext">Breakdown of Crimes by Type, in %</p>
    <p class="infotext">Crime Heatmap</p>
    <div class="pie_chart">
        <embed type="image/svg+xml" src="{{ pie|safe }}" />
    </div>

    {% include "snippets/heatmap.html" %}

    <div class="tl_title">
        <p class="infotext">Timeline of Crimes</p>
    </div>
    <div class="tl_chart">
        <embed type="image/svg+xml" src="{{ timeline|safe }}" />
    </div>
    <div class="allc_title">
        <p class="infotext">All Crimes, Starting with {{most_recent}}</p>
    </div>
    <div class="all_c_table">
        {% render_table table %}
    </div>
</div>
{% endblock content %}