<div>
    <h2>Crime List</h2>
    <p>{{crimes|length}} incidents located near (Lat/Lon): {{lat_lon}}</p>
    <hr />

    <!-- Show the nearby crimes, populate into table -->

    <table>

        </thead>
        <tbody>
            {% for crime in crimes %}

            <tr>
                <!-- unicorn:click="make_evidence_connect({{crime.id}})" -->
                <td>{{crime.c_date}}</td>
                <td>{{crime.c_description}}</td>
                <td><button unicorn:click="make_evidence_connect({{crime.id}})">Add
                        Evidence</button></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>