<div>
    <h2>Crime List</h2>
    <p class="infotext">{{crimes|length}} incidents located near your selected location.
    </p>
    <hr />

    <!-- Show the nearby crimes, populate into table -->

    <table>

        </thead>
        <tbody>
            {% for crime in crimes %}

            <tr>

                <td>{{crime.c_date}}</td>
                <td>{{crime.c_description}}</td>
                <td><button class="btn btn-sm btn-primary"
                        onclick="Unicorn.call('unicorn-form', 'populate_crime_info', '{{crime.id}}');">Add
                        Evidence</button></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
</div>