<!-- figured this functionality out with: https://github.com/mapbox/mapbox-gl-js/issues/7823 -->

<div id='map'></div>
<script>
    const server_url = window.location.href;
    // console.log(server_url)
    mapboxgl.accessToken = "{{ mapbox_access_token }}";
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/welew204/clmpk6ttn04qe01qig97x1hum', // style URL
        center: [-122.255, 37.804363], // OAKLAND starting position [lng, lat]
        zoom: 11, // starting zoom
        maxzoom: 20,
    });
    map.on('load', () => {
        map.addSource('crimes-evi', {
            type: 'geojson',
            data: `${window.location.origin}/see_data/crimes.geojson`
        });
        console.log(`loaded the crimes geojson from ...${window.location.origin}/see_data/crimes.geojson`)

        map.addLayer({
            id: 'crimes-heat-evi',
            type: 'heatmap',
            source: 'crimes-evi',
            maxzoom: 20,
            paint: {
                'heatmap-weight': 1,
                // assign color values be applied to points depending on their density
                'heatmap-color': [
                    'interpolate',
                    ['linear'],
                    ['heatmap-density'],
                    0,
                    'rgba(236,222,239,0)',
                    0.2,
                    'rgb(208,209,230)',
                    0.4,
                    'rgb(166,189,219)',
                    0.6,
                    'rgb(103,169,207)',
                    0.8,
                    'rgb(28,144,153)'
                ],
                // increase radius as zoom increases
                'heatmap-radius': {
                    stops: [
                        [11, 5],
                        [20, 20],
                    ]
                },
                // decrease opacity to transition into the circle layer
                'heatmap-opacity': 1
            }
        }, 'waterway-label'
        );
        map.addLayer({
            id: 'crimes-point-evi',
            type: 'circle',
            source: 'crimes-evi',
            minzoom: 14,
            paint: {
                // increase the radius of the circle as the zoom level and dbh value increases
                'circle-radius': 5,
                'circle-color': {
                    //property: 'dbh',
                    //type: 'exponential',
                    stops: [
                        [0, 'rgba(236,222,239,0)'],
                        [10, 'rgb(236,222,239)'],
                        [20, 'rgb(208,209,230)'],
                        [30, 'rgb(166,189,219)'],
                        [40, 'rgb(103,169,207)'],
                        [50, 'rgb(28,144,153)'],
                        [60, 'rgb(1,108,89)']
                    ]
                },
                'circle-stroke-color': 'white',
                'circle-stroke-width': 1,
                'circle-opacity': {
                    stops: [
                        [14, 0],
                        [15, 1]
                    ]
                }
            }
        }, 'waterway-label');
    });
    marker = new mapboxgl.Marker({}).setLngLat(map.getCenter()).addTo(map);

    map.on('move', function (e) {
        marker.setLngLat(map.getCenter());

    });
    map.on('dragend', () => {
        Unicorn.call('unicorn-table', 'update_center', `${map.getCenter().lat},${map.getCenter().lng}`);
        Unicorn.call('unicorn-form', 'set_lat_lon', `${map.getCenter().lat},${map.getCenter().lng}`);
        console.log('A dragend event occurred.');
    });
    map.on('mouseover', 'crimes-point-evi', function (e) {
        map.getCanvas().style.cursor = 'pointer'
        html_string = `<b>Details:</b> <p>${e.features[0].properties.c_date}</p><p>${e.features[0].properties.c_type ? e.features[0].properties.c_type : 'Type undefined'}</p>`
        new mapboxgl.Popup()
            .setLngLat(e.features[0].geometry.coordinates)
            .setHTML(html_string)
            .addTo(map);
        console.log(e)
    })
    map.on('click', 'crimes-point-evi', function (e) {
        console.log("clicked!!!")
    })
    map.on('mouseleave', 'crimes-point-evi', function (e) {
        map.getCanvas().style.cursor = ''
        console.log("mouse LEAVE happneing")
    })

</script>