<!-- figured this functionality out with: https://github.com/mapbox/mapbox-gl-js/issues/7823 -->

<div id='map'></div>
<script>
    const server_url = window.location.href;
    // console.log(server_url)
    mapboxgl.accessToken = "{{ mapbox_access_token }}";
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/welew204/clmpk6ttn04qe01qig97x1hum', // style URL
        center: [-122.255, 37.804363], // OAKLAND starting position [lng, lat]
        zoom: 11, // starting zoom
        maxzoom: 20,
    });
    map.on('load', () => {
        map.addSource('crimes-evi', {
            type: 'geojson',
            data: `${window.location.origin}/see_data/crimes.geojson`
        });
        console.log(`loaded the crimes geojson from ...${window.location.origin}/see_data/crimes.geojson`)
        let nearby = get_crimes().then(res => map.addLayer('radius', createGeoJSONCircle(0.5)))
        //console.log(nearby[-1][1])
        // add radius here

        map.addLayer({ // heatmap layer
            id: 'crimes-heat-evi',
            type: 'heatmap',
            source: 'crimes-evi',
            maxzoom: 20,
            paint: {
                'heatmap-weight': 1,
                // assign color values be applied to points depending on their density
                'heatmap-color': [
                    'interpolate',
                    ['linear'],
                    ['heatmap-density'],
                    0,
                    'rgba(236,222,239,0)',
                    0.2,
                    'rgb(208,209,230)',
                    0.4,
                    'rgb(166,189,219)',
                    0.6,
                    'rgb(103,169,207)',
                    0.8,
                    'rgb(28,144,153)'
                ],
                // increase radius as zoom increases
                'heatmap-radius': {
                    stops: [
                        [11, 5],
                        [20, 20],
                    ]
                },
                // decrease opacity to transition into the circle layer
                'heatmap-opacity': 1
            }
        }, 'waterway-label'
        );
        map.addLayer({ // circle layer
            id: 'crimes-point-evi',
            type: 'circle',
            source: 'crimes-evi',
            minzoom: 14,
            paint: {
                // increase the radius of the circle as the zoom level and dbh value increases
                'circle-radius': 5,
                'circle-color': {
                    //property: 'dbh',
                    //type: 'exponential',
                    stops: [
                        [0, 'rgba(236,222,239,0)'],
                        [10, 'rgb(236,222,239)'],
                        [20, 'rgb(208,209,230)'],
                        [30, 'rgb(166,189,219)'],
                        [40, 'rgb(103,169,207)'],
                        [50, 'rgb(28,144,153)'],
                        [60, 'rgb(1,108,89)']
                    ]
                },
                'circle-stroke-color': 'white',
                'circle-stroke-width': 1,
                'circle-opacity': {
                    stops: [
                        [14, 0],
                        [15, 1]
                    ]
                }
            }
        }, 'waterway-label');
    });
    marker = new mapboxgl.Marker({}).setLngLat(map.getCenter()).addTo(map);

    // jS implementation of Haversine formula for calcing distance...https://stackoverflow.com/a/21623206/19589299
    async function get_crimes() {
        const crimeResponse = await fetch(`${window.location.origin}/see_data/crimes.geojson`)
        const crimes_geojson = await crimeResponse.json()
        console.log("got crimes data!")
        let close_crimes = sort_by_distance(crimes_geojson)
        console.log(close_crimes)

        return (close_crimes)
    }
    //get_crimes()

    function sort_by_distance(crimes_geojson) {
        map_ctr_lng = map.getCenter().lng
        map_ctr_lat = map.getCenter().lat
        radii = []
        //console.log(crimes_geojson.features)
        for (c of crimes_geojson.features) {
            //console.log(c)
            let lon = c.geometry.coordinates[0]
            let lat = c.geometry.coordinates[1]

            //console.log(lon, lat)
            let dist = distance(map_ctr_lat, map_ctr_lng, lat, lon)
            radii.push([c.properties.pk, dist])
        }
        radii.sort(function (a, b) { return a[1] - b[1] })
        console.log("sorted crime data!")
        return radii.slice(0, 5)
    }



    //for (let element of crimePoints) {
    //console.log()
    //}
    function distance(lat1, lon1, lat2, lon2) {
        const r = 6371; // km
        const p = Math.PI / 180;

        const a = 0.5 - Math.cos((lat2 - lat1) * p) / 2
            + Math.cos(lat1 * p) * Math.cos(lat2 * p) *
            (1 - Math.cos((lon2 - lon1) * p)) / 2;

        return 2 * r * Math.asin(Math.sqrt(a));
    }


    // possibly just do with turf.js?
    let createGeoJSONCircle = function (radiusInKm, points) {
        if (!points) points = 64;

        let coords = {
            latitude: map.getCenter().lng,
            longitude: map.getCenter().lng
        };

        let km = radiusInKm;

        let ret = [];
        let distanceX = km / (111.320 * Math.cos(coords.latitude * Math.PI / 180));
        let distanceY = km / 110.574;

        let theta, x, y;
        for (let i = 0; i < points; i++) {
            theta = (i / points) * (2 * Math.PI);
            x = distanceX * Math.cos(theta);
            y = distanceY * Math.sin(theta);

            ret.push([coords.longitude + x, coords.latitude + y]);
        }
        ret.push(ret[0]);

        return {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": [{
                    "type": "Feature",
                    "geometry": {
                        "type": "Polygon",
                        "coordinates": [ret]
                    }
                }]
            }
        };
    };
    map.on('move', function (e) {
        marker.setLngLat(map.getCenter());
    })

    map.on('dragend', () => {
        Unicorn.call('unicorn-table', 'update_center', `${map.getCenter().lat},${map.getCenter().lng}`);
        Unicorn.call('unicorn-form', 'set_lat_lon', `${map.getCenter().lat},${map.getCenter().lng}`);
        Unicorn.call('unicorn-form', 'clear_crime');
        //this requeries for data, sorts on distance, gets the 5 closest ones
        get_crimes()
        console.log('A dragend event occurred.');
    });
    map.on('mouseover', 'crimes-point-evi', function (e) {
        map.getCanvas().style.cursor = 'pointer'
        console.log("mouse OVER!!!")
    })
    map.on('click', 'crimes-point-evi', function (e) {
        console.log(e) // maybe this doesn't get triggered if the new Popup doesn't happen??
        html_string = `<b>Details:</b> <p>${e.features[0].properties.c_date}</p><p>${e.features[0].properties.c_type ? e.features[0].properties.c_type : 'Type undefined'}</p>`
        new mapboxgl.Popup()
            .setLngLat(e.features[0].geometry.coordinates)
            .setHTML(html_string)
            .addTo(map);

    })
    map.on('mouseleave', 'crimes-point-evi', function (e) {
        map.getCanvas().style.cursor = ''
        console.log("mouse LEAVE happneing")
    })

</script>